*{
  padding: 0;
  margin: 0;
}
img{
  width: 50px;
  height: 50px;
  margin-right: 15px;
  padding-top: 5px;
  float: left;
}
body{
  width: 100%;
  margin: auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;  
}
.clearfix{
  clear: both;
  float: none;
}
.content{
  float:left;
}
form{
  border: 1px solid #CCCCCC;
}
h1{
  padding: 15px 0 0  20px;
}
.two{
  width: 20em;
  margin-top: 50px;
  padding-bottom: 15px;   
}
.prod{
  text-align: center;
  margin-bottom: 15px;
  padding: 10px 0 10px 0;
  background: #61dafb; 
}
#menu-item{
  padding-left: 80px;
}
.field{
  width: 17rem;
  height: 2rem;
  margin: 5px 0 15px 18px;  
  padding-left: 5px; 
}
#text{
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 25px; 
}
.btn-save{
  background: #0984e3;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 18px;
  width: 280px;
  height: 35px;
  margin-bottom: 20px; 
  margin: 5px 0 0 18px;
  border: 0;
  border-radius: 15px;
  outline: none;
  transition: 300ms all;
}
.btn-save:hover{
  background: #00b894;
}

.three{
  margin-left: 2px;
  margin-right: 2px;
  display: inline-flex;
  
}
.btn-delete{
  background: red;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14px;
  width: 120px;
  height: 30px;
  margin:15px 0 0 20px;
  border-radius: 15px;
  outline: none;
  border: 0;
  margin-left: 10px; 
  transition: 300ms all;
  outline: none;
}
.btn-delete:hover{
  background: #EA2027;
  font-weight: bold;
}
.error{
  color:red;
  font-size: 16px;
  font-weight: bold;
  width: 20em;
  height: 15px;
  margin-left:30px;
  margin-top:40px;
  
}
.item{
  width: 90%;
  float: left;
}
.list {
  width: 12rem;
  height: 11rem;
  padding: 2rem;
  background: #f2f2f2;
  border-bottom: 1px solid #e1e1e1;
  color: black;
  float: left;
  margin:50px 0 0 4rem;
  border-radius: 1rem;
}
.list p{
  font-size: 18px;
  font-weight: bold;
  margin:5px 0 0 25px;
}
.list p span {
  font-weight: normal;
}
